.carousel-slide {
  @include aspect-ratio(16, 9);
  position: relative;
  width: 100%;
  flex-shrink: 0;
  picture {
    position: absolute;
    inset: 0;
    img {
      width: 70vw;
      height: 70vh;
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }
}
