.flex {
  display: flex;
  width: 1500px;
}

.firstDiv {
  height: 500px;
  width: 700px;
  border: 1px solid black;
  background-image: url("../atoms/Images/pexels-aaron-porras-10754454.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.secondDiv {
  height: 500px;
  width: 700px;
  border: 1px solid black;
  background-image: url("../atoms/Images/pexels-adrian-newell-9725979.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
}
.thirdDiv {
  height: 500px;
  width: 700px;
  border: 1px solid black;
  background-image: url("../atoms//Images/pexels-eftychia-syrimi-10736812.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
